@model IEnumerable<AMST4.Carousel.MVC.Models.Category>

@{
    ViewData["Title"] = "CategoryList";
}

<h1>Categorias</h1>

<p>
    <a asp-action="AddCategory">Criar nova categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Descrição
            </th>
            <th>
                URL da Imagem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
